include AUTHORS
include README.rst
include HISTORY
include CHANGELOG.rst
include LICENSE
include tests/cnn_homepage.dat
include tests/performance.py
include tests/search.txt
include tests/finditer.txt
include tests/wikipages.xml.gz
include tests/__init__.py
include tests/match_expand.txt
include tests/re2_test.py
include tests/pattern.txt
include tests/sub.txt
include tests/unicode.txt
include tests/findall.txt
include tests/split.txt
include src/_re2macros.h
include src/re2.cpp
include src/re2.pyx
include setup.py
