global-include CMakeLists.txt *.cmake
include AUTHORS README.rst HISTORY CHANGELOG.rst
include *.py *.cfg *.toml *.rst *.in
recursive-include src *.h *.pxi *.pyx
recursive-include tests *.py *.txt *.dat *.gz
include tox.ini
recursive-exclude .tox *
recursive-exclude .git *
recursive-exclude .github *
