global-include CMakeLists.txt *.cmake
include *.py
include *.cfg
include *.toml
include *.rst
include AUTHORS
include README.rst
include HISTORY
include CHANGELOG.rst
include tox.ini
graft src
graft tests
exclude .tox
exclude .git*
